{%extends 'base.html'%}
{%block main%}
    <div class="container" align="center" margin : auto>
        <br>
        <form method="POST">
        	{% csrf_token %}
        	<input name="username" class="form-control" placeholder="Имя пользователя"><br>
    		<input name="password" type="password" class="form-control" placeholder="Пароль"><br>
    		<button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
    {%if errors != "" %}
    <div class="alert alert-danger alert-dismissible fade show">
    	{{errors}}
    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button></div>
    {%endif%}
{%endblock%}